<ion-header>
  <ion-toolbar color="primary">
    <ion-title> ionic image </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="checkAccount()">Check account</ion-button>
  <ion-button expand="full" (click)="captureImage()">capture image</ion-button>
  <ion-button expand="full" (click)="openEmail()">open email</ion-button>

  <ion-card>
    <ion-header>Current image</ion-header>
    <ion-card-content>
      <img [src]="currentImage" alt="photo" *ngIf="currentImage" />
    </ion-card-content>
  </ion-card>
</ion-content>
